body {
	text-align: center;
	font-family: Open Sans,sans-serif;
	background-color: #8a71c9;
	color: #ffffff;
	margin: 0;
}

.titulo-principal {
	font-size: 60px;
	font-weight: 300;
}

.primeira-nav {
	max-width: 60%;
	margin: 0 auto;
}

.primeira-ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 0;
	height: 40px;
	background-color: #ff6cb5;
}

.link-cabecalho {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.link-cabecalho:hover {
	color: #2a0074;
    opacity: 0.5;
	font-weight: bold;
	text-decoration: underline;
}

.titulo-secundario {
	color: #2a0074;
	font-size: 40px;
}

.primeiro-subtitulo {
	color: #04ff9f;
}

.segundo-subtitulo {
	color: #ff9e9e;
}

.terceiro-subtitulo {
	color: #ffe36d;
}

section {
	width: 60%;
	margin: 0 auto;
}

section section {
	width: 100%;
}

h3 {
	font-size: 22px;
	font-style: italic;
}

p {
	line-height: 1.5;
	font-size: 20px;
}

img {
	width: 100%;
}

.segunda-ul {
	list-style-type: none;
	line-height: 2;
	padding-left: 0;
}

.link-rodape {
	text-decoration: none;
	color: #99ffff;
	font-weight: 700;
}

.link-rodape:hover {
    opacity: 0.5;
}

fieldset {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-style: none;
	padding: 20px;
	margin-bottom: 20px;
}

footer {
	width: 60%;
	margin: 0 auto;
}

form legend {
	font-size: 20px;
	font-weight: bold;
}

.input-padrao {
	margin-right: 10px;
	height: 20px;
}

.enviar {
	background-color: #41f341;
	border: none;
	font-weight: bold;
	padding: 2px 20px;
	height: 25px;
	cursor: pointer;
	border-radius: 3px;
}

.enviar:hover {
	background-color: #04ff9f;
	transform:  scale(1.2);
}


